
.job-listings {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.job-listings h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
body {
    background: linear-gradient(135deg,#664229,#b99976,#d2b48c,#e5d3b3,#987554,#664229);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  

.job-listing {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.job-listing h3 {
    color: #333;
}

.job-listing .apply-button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.job-listing .apply-button:hover {
    background-color: #555;
}

