
head { font-family: 'Times New Roman', Times, serif;
    text-align: center;}
    
    
    body {text-align: center;
            background-image: linear-gradient(white,Grey);
            align-items: center;
            align-content: center;
      }
      img.one {
        height: 10%;
        width: 10%;
    border-color: black;
    border-width: 2px;}
        
h2, h1{ font-family: 'Times New Roman', Times, serif;
    text-align: center;}

    ul, li, ol{ font-family: 'Times New Roman', Times, serif;
        text-align: center;
    align-items: center;}
        
    