
head { font-family: 'Times New Roman', Times, serif;
    text-align: center;}
    
    
    body {text-align: center;
            background-image: linear-gradient(white,Grey);
            align-items: center;
            align-content: center;
	
	background: linear-gradient(135deg,white , #808080, white,#5c5b9d , white, #808080,white ,#5c5b9d, white, #808080, white, #5c5b9d, white, #808080, white);
    background-size: 900% 900%;

    -webkit-animation: AnimationName 100s ease infinite;
    -moz-animation: AnimationName 100s ease infinite;
    -o-animation: AnimationName 100s ease infinite;
    animation: AnimationName 100s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@keyframes AnimationName {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}

      
     
        
h2, h1{ font-family: 'Times New Roman', Times, serif;
    text-align: center;}

    ul, li, ol{ font-family: 'Times New Roman', Times, serif;
        text-align: center;
    align-items: center;}
        
    